/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
body {
/*  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;*/
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Nunito', sans-serif;*/
  font-family: sans-serif;
  /*background-image: url("img/background/tan.jpg");*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-style: thin;
  color: #484848;
  /*font-weight: bolder;*/
  /*font-size: 16px;*/
}


h1 {
  font-size: 40px;
  /*font-family: 'Roboto',sans-serif;*/
  font-weight: b;
}

h2 {
  font-size: 20px;
  /*font-family: 'Roboto',sans-serif;*/
  font-weight: 13px;
  font-style: bolder;
  margin: 0;
  padding: 0;
  color: #236B8E;
}

h6 {
  font-size: 16px;
  /*font-family: 'Roboto',sans-serif;*/
  /*font-weight: 10px;*/
  /*font-style: bolder;*/
  text-indent: 0px;
  margin: 0px;
  padding: 0px;
  color: #236B8E;

}

h3 {
  font-size: 13px;
  font-weight: bolder;
  margin:0;
  /*margin-bottom: 5px;*/
  padding:1px;
  color: #696969;
}

h4 {
  font-size: 12px;
  font-weight: normal;
  margin:0;
  padding:1px;
  color: #696969;
}

h5 {
   font-size: 12px;
   font-weight: normal;
   margin:0;
   padding:1px;
   color: #696969;
}

.profile-picture {
  /*border-radius: 50%;*/
  height: 245px;
  width: 175px;

}

.container {
s
    display: table;
    max-width: 800px;
    margin-left:auto; 
    margin-right:auto;
    
    padding-top: 0px;

}

.paragraph {
  max-width: 800px;
  text-align: left;
  margin-left:auto; 
  margin-right:auto;
  padding-top: 0px;
  
}






.left, .right {
    display: table-cell
}
.left {
    width: .75%;
    height: .75%;
    text-align: left;
    /*display: inline-block;*/
    vertical-align: top;
    /*padding-bottom: 40px */

}
.right {

    /*vertical-align: bottom;*/
    padding-left: 15px;
    height: .75%;
    text-align: left;
        /*padding-bottom: 40px*/
}

/*.head_left, .head_right {
    display: table-cell
}*/
.head_left {
    width: 250px;
    text-align: left;
    vertical-align: top;
    font-weight: 700;


}
.head_right {

    vertical-align: top;
    padding-left: 25px;
    text-align: left;
}

#about_container {
  
    max-width: 400px;
    float: left;
}

.news_left {
    max-width: 1200px;
    margin-left:auto; 
    margin-right:auto;
}

.ul{
  list-style-type: circle;
  border-bottom: 1px solid;
}

div.a {
  line-height: 2.5;
}


hr { 

  border: none;
  height: 1px;
  /* Set the hr color */
  color: #BEBEBE; /* old IE */
  background-color: #BEBEBE; /* Modern Browsers */
} 

.navbar {
  max-width: 900px;
  overflow: hidden;
  background-color: white;
  
  top: 0;
  width: 100%;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: black;
  color: white;
  /*border-bottom: 3px solid black;*/
}

.navbar a.active {
  /*border-bottom: 3px solid black;*/
}

.header {
  padding: 60px;
  text-align: left;
  
  color: black;
  font-size: 14px;
  
}

/*Removes underline from links*/
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    /*font-weight: bold;*/
    color: SteelBlue;

}

p1 {
  font-size: 12px;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  /*background-color: #2196F3;*/
/*  padding: 10px;*/

}
.grid-item {
/*  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);*/
/*  padding: 20px;
  font-size: 14px;*/
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

img {
  
  width: 100px;
  height: 100px;
  /*border:1px solid #236B8E;*/
}

.bg {
  /* The image used */


  /* Full height */
  width: 100%;
  height: 100px;

  /* Center and scale the image nicely */
/*  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}